.header-container {
  background: var(--text-secondary-color);
  box-shadow: 0px 1px 15px -3px rgba(0,0,0,0.4);
}

.header-nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em;
  height: 10vh;
}

.header-nav-container .logo {
  text-decoration: none;
  color: var(--primary-color);
  font-size: 1.1em;
  font-weight: 500;
  letter-spacing: 1px;
  transition: 0.3s;
}

.header-nav-container .logo ion-icon {
  vertical-align: middle;
  font-size: 1.1em;
}

.header-nav-container .logo:hover {
  color: var(--secondary-color);
  transform: translateY(-1px);
}

.header-nav-container button {
  padding: 0.7em;
  border: none;
  border-radius: 1em;
  color: var(--text-secondary-color);
  font-size: 0.9em;
  font-weight: 500;
  cursor: pointer;
  background: var(--primary-color);
  transition: 0.3s;
}

.header-nav-container button ion-icon {
  font-size: 1.3em;
  vertical-align: middle;
}

.header-nav-container button:hover {
  background: var(--secondary-color);
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
  /* border: 1px solid red; */
}

.main-container h1 {
  font-size: 1.8em;
}

.main-container h1 span {
  color: var(--primary-color)
}

.finance-section {
  width: 100%;
  margin-top: 3em;
}

.search-finance-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--primary-color);
  color: var(--text-secondary-color);
  padding: 1em;
}

.search-finance-form .search-fields {
  display: flex;
  align-items: center;
  gap: 0.5em;
  width: 40%;
  background: var(--tertiary-color);
  border-radius: 0.5em;
  padding: 0.5em 0.5em;
}

.search-finance-form .search-fields .search-input {
  padding: 0.2em 0.5em;
  border: none;
  outline: none;
  width: 100%;
  font-size: 0.9em;
}

.search-finance-form .search-fields .search-label ion-icon {
  font-size: 1.3em;
  vertical-align: middle;
  transition: 0.3s;
  cursor: pointer;
}

.search-finance-form .search-fields .search-label ion-icon:hover {
  color: var(--primary-color);
}

.search-finance-form button {
  border: none;
  padding: 0.7em;
  font-size: 0.8em;
  cursor: pointer;
  border-radius: 1em;
  color: var(--text-secondary-color);
  transition: 0.3s;
  font-weight: 500;
  background: var(--tertiary-color);
}

.search-finance-form button:hover {
  color: var(--primary-color);
}

.finance-modal {
  width: 35%;
  padding: 0;
}

.finance-form {
  width: 100%;
  background-color: var(--text-secondary-color);
}

.finance-form fieldset {
  padding-top: 0.5em;
}

.finance-form fieldset legend {
  color: var(--text-secondary-color);
}

.finance-form fieldset .form-fields {
  margin-top: 3.5em;
}

.finance-form fieldset .form-fields .form-input {
  border-bottom: 1px solid var(--text-primary-color);
}

.finance-section, .main-container, .search-finance-form, .finance-table {
  /* border: 1px solid black; */
}

.finance-section {
  border: 2px solid black;
}

.finance-table {
  width: 100%;
  border-collapse: collapse;
}

.finance-table-column {
  background: #CCC;
  padding: 0.5em;
}

.finance-table tbody th, .finance-table tbody td {
  padding: 0.2em;
}

/* .modal-container, .modal-content {
  border: 1px solid red;
} */
