.main-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5em;
  gap: 5em;
  height: 100vh;
  /* background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)),url("../img/background.jpg"); */
  background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)),url("../img/background.jpg");
  background-position: center;
  background-size: cover;
}

.main-text {
  max-width: 35%;
  text-align: justify;
  color: #E6EDF6;
}

.main-text h1 {
  font-weight: 700;
  letter-spacing: 0.5px;
  color: var(--primary-color);
}

.main-text h2 {
  font-weight: 700;
  font-size: 1.8em;
  margin-top: 1em;
  color: var(--text-secondary-color);
}

.main-text p {
  font-weight: 500;
  font-size: 0.9em;
  margin-top: 1.2em;
}

span {
  color: var(--primary-color);
  cursor: pointer;
  font-weight: 700;
}

span:hover {
  opacity: 0.8
}

.signin-form {
  width: 37%;
  color: var(--text-secondary-color);
  background: rgba(0, 0, 0, .7);
}

.signin-form fieldset .form-fields .form-input {
  border-bottom: 1px solid var(--text-secondary-color);
  color: var(--text-secondary-color);
}

.signin-form fieldset p {
  font-size: 0.8em;
  margin-top: 1.2em;
  text-align: center;
}

.modal-content {
  width: 35%;
  padding: 0;
}

.login-form {
  width: 100%;
  background-color: var(--text-secondary-color);
}

.login-form fieldset legend {
    color: var(--text-secondary-color);
}

.login-form fieldset .form-fields .form-input {
  border-bottom: 1px solid var(--text-primary-color);
}
